<div class="col-md-12 col-lg-12 report-body">
  <fieldset [ngClass]="{'fieldseter':true}">
    <legend align="left">
      <small>{{'reportes.reportes' | translate}}</small>
    </legend>
    <div class="row">
      <div class="col-6">
          <button class="report_content" (click)="isReportPares = true">
            <img [src]="'assets/images/reporte.png'" alt="reporte">
            <p>{{'reportes.reporte_pares' | translate}}</p>
          </button>
        </div>
        <div class="col-6">
        <button class="report_content">
          <img [src]="'assets/images/reporte.png'" alt="reporte">
          <p>{{'reportes.reporte_titulos' | translate}}</p>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
          <button class="report_content">
            <img [src]="'assets/images/reporte.png'" alt="reporte">
            <p>{{'reportes.reporte_cambios_categoria' | translate}}</p>
          </button>
        </div>
        <div class="col-6">
        <button class="report_content">
          <img [src]="'assets/images/reporte.png'" alt="reporte">
          <p>{{'reportes.reporte_puntos' | translate}}</p>
        </button>
      </div>
    </div>
  </fieldset>
</div>


<div class="pop-committee" *ngIf="isReportPares">
  <div class="pop-content">
    <button (click)="closePop()"><i class="nb-close" title="view"></i></button>
    <h2>{{ 'reportes.datos_reporte' | translate }}</h2>
    <p>{{ 'reportes.datos_reporte_subtitulo' | translate }}</p>
    <div class="col-10">
      <mat-form-field style="width: 100%;" floatLabel="always">
        <mat-label>* {{'reportes.fecha_inicio' | translate}}:</mat-label>
        <input matInput [(ngModel)]="fechaInicio" [matDatepicker]="picker1"
          [ngModelOptions]="{standalone: true}"
          [placeholder]="translate.instant('produccion_academica.placeholder_fecha_publicacion')">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-hint class="text-danger" *ngIf="!fechaInicio">
          {{'produccion_academica.alerta_llenar_campo' | translate}}</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-10">
      <mat-form-field style="width: 100%;" floatLabel="always">
        <mat-label>* {{'reportes.fecha_final' | translate}}:</mat-label>
        <input matInput [(ngModel)]="fechaFinal" [matDatepicker]="picker2"
          [ngModelOptions]="{standalone: true}"
          [placeholder]="translate.instant('produccion_academica.placeholder_fecha_publicacion')">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-hint class="text-danger" *ngIf="fechaFinal">
          {{'produccion_academica.alerta_llenar_campo' | translate}}</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-10 pop-button">
      <!-- <a [href]="this.urlReportPares">{{ 'GLOBAL.descargar' | translate }}</a> -->
      <button (click)="generateLinks()">{{ 'GLOBAL.descargar' | translate }}</button>
    </div>
  </div>
</div>
