@import "../../../@theme/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {
  /deep/ .mat-input-element::placeholder {
    color: transparentize($color: nb-theme(color-fg-heading), $amount: 0.6);
  }

  /deep/ .mat-input-placeholder {
    color: nb-theme(color-fg-text);
  }

  /deep/ .mat-select-value {
    color: nb-theme(color-fg-text);
  }

  /deep/ .mat-select-placeholder {
    color: transparentize($color: nb-theme(color-fg-heading), $amount: 0.6);
  }

  /deep/ .mat-form-field-underline {
    background-color: nb-theme(form-control-border-color);
  }

  nb-card-body {
    overflow: visible;
  }

  legend {
    padding: 10px;
  }

  .star {
    font-size: 1.5rem;
    color: nb-theme(color-fg);
  }

  .filled {
    color: nb-theme(color-fg);
  }
  // TODO: Replace with the card header styles mixin

  .rating-header {
    line-height: 2rem;
    font-size: 1.25rem;
    font-family: nb-theme(font-secondary);
    font-weight: nb-theme(font-weight-bolder);
    color: nb-theme(color-fg-heading);
  }

  .current-rate {
    font-size: 1.5rem;
    @include nb-ltr(padding-left, 1rem);
    @include nb-rtl(padding-right, 1rem);
    color: nb-theme(color-fg-heading);
  }

  .dropdown {
    min-width: 7rem;
  }

  .dropdown-menu {
    width: auto;
  }

  nb-card {
    padding: 1rem;
  }

  .fieldseter {
    display: flow-root;
    -moz-padding-start: 1rem;
    -moz-padding-end: 1rem;
    -moz-padding-after: 1rem;

    -webkit-margin-start: 1rem;
    -webkit-margin-end: 1rem;
    -webkit-padding-before: 1rem;
    -webkit-padding-start: 1rem;
    -webkit-padding-end: 1rem;
    -webkit-padding-after: 1rem;

    min-width: -moz-min-content;
    border-width: 2px;
    border-radius: 0.4rem;
    border-style: groove;
    border-color: nb-theme(color-success);
    @include nb-for-theme(cosmic) {
      border-color: nb-theme(color-primary);
    }
  }

  img {
    cursor: pointer;
  }

  ngb-rating {
    outline: none;
  }

  ngb-rating i {
    color: nb-theme(color-success);
    @include nb-for-theme(cosmic) {
      color: nb-theme(color-primary);
    }
  }
  @include media-breakpoint-down(xs) {
    button:not(.btn-icon) {
      padding: 0.75rem 1rem;
      font-size: 0.75rem;
    }
  }

  .pop-committee {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pop-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #fff;
    width: 500px;
    height: 40%;
    border-radius: 20px;
    overflow: hidden;
    overflow-y: auto;
    transition: all 0.3s ease-in;
  }
  
  .pop-content button {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    outline: none;
  }
  
  .pop-content button i {
    font-size: 30px;
  }
  
  .col-10 {
    margin-top: 30px;
    flex: 0 0 10.666667%;
  }
  
  mat-label {
    font-size: 18px;
  }
  
  .pop-button {
    display: flex;
    justify-content: flex-end;
  
    a, button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      outline: none;
      color: #fff;
      background-color: #4486AA;
    }
  }
}

.col-6 {
  text-align: center;
  margin: 30px 0px;
}

.report_content {
  border: none;
  border-radius: 10%;
  padding: 20px;
  width: 13rem;
  height: 13rem;
  background: #4486AA;
  color: #fff;
  font-weight: bold;
  outline: none;
}

.report_content:hover {
  background: #4486AA;
}

p {
  margin-top: 12px;
}

.report-body {
  background: #fff;
  padding: 30px;
}
