<div class="row">
  <form class="form-horizontal" style="width: 70%;">
    <fieldset [ngClass]="{'fieldseter':true}">
      <legend align="left">
        <small>{{'produccion_academica.datos_solicitud' | translate}}</small>
      </legend>
      <div class="row" *ngIf="isExistPoint">
        <div class="col-8">
          <h4>{{'produccion_academica.puntaje' | translate}}</h4>
        </div>
        <div class="col-4">
          <h4>{{pointRequest.toString().substring(0,5)}}</h4>
        </div>
      </div>
      <div class="row" *ngIf="solicitud_docente_selected">
        <div class="col-8">
          <h5>{{'produccion_academica.estado_solicitud' | translate}}</h5>
        </div>
        <div class="col-4">
          <button class="btn-state" (click)="seeDetailsState()">{{'produccion_academica.ver_detalle' | translate}}</button>
        </div>
      </div>
      <div class="row" *ngIf="solicitud_docente_selected">
        <div class="col-8">
          <h5>{{'produccion_academica.tipo_puntaje' | translate}}</h5>
        </div>
        <div class="col-4">
          <label>{{solicitud_docente_selected.ProduccionAcademica.SubtipoProduccionId.CategoriaProduccion.TipoPuntaje}}</label>
        </div>
      </div>
      <div class="row" *ngIf="solicitud_docente_selected">
        <div class="col-8">
          <h5>{{'produccion_academica.tipo_produccion_academica' | translate}}</h5>
        </div>
        <div class="col-4">
          <label>{{solicitud_docente_selected.ProduccionAcademica.SubtipoProduccionId.Nombre}}</label>
        </div>
      </div>
      <div class="row" *ngIf="solicitud_docente_selected">
        <div class="col-8">
          <h5>{{'produccion_academica.titulo_produccion_academica' | translate}}</h5>
        </div>
        <div class="col-4">
          <label>{{solicitud_docente_selected.ProduccionAcademica.Titulo}}</label>
        </div>
      </div>
      <div class="row" *ngIf="solicitud_docente_selected">
        <div class="col-8">
          <h5>{{'produccion_academica.autores' | translate}}</h5>
        </div>
        <div class="col-4">
          <label>{{solicitud_docente_selected.Solicitantes[0].Nombre}}</label>
        </div>
      </div>
      <div class="row" *ngIf="solicitud_docente_selected">
        <div class="col-8">
          <h5>{{'produccion_academica.fecha_radicacion' | translate}}</h5>
        </div>
        <div class="col-4">
          <label>{{solicitud_docente_selected.FechaRadicacion.substring(0,10)}}</label>
        </div>
      </div>
      <div class="row" *ngIf="solicitud_docente_selected">
        <div class="col-8">
          <h5>{{'produccion_academica.fecha_publicacion' | translate}}</h5>
        </div>
        <div class="col-4">
          <label>{{solicitud_docente_selected.ProduccionAcademica.Fecha.toString().substring(0,10)}}</label>
        </div>
      </div>

      <div class="divisor"></div>
      
      <div class="row" *ngFor="let campo of formProduccionAcademica.campos">
        <div class="col-8">
          <h5>{{'produccion_academica.labels.' + campo.label_i18n | translate}}</h5>
        </div>
        <ng-container *ngIf="!campo.etiqueta">
          <div class="col-4" *ngIf="campo.valor">
            <a [href]="campo.valor" target="_blank">Link archivo Drive</a>
          </div>
          <div class="col-4" *ngIf="!campo.valor">
            <p>{{'produccion_academica.espera_Link' | translate}}</p>
          </div>
        </ng-container>
        <ng-container *ngIf="campo.etiqueta === 'file'">
          <div class="col-4">
            <nb-card-body class="col-4" *ngIf="!(campo.tipo == 'image')">
              <img class="carousel-image" [src]="'assets/images/file.png'"
                (click)="download(campo.urlTemp, campo.nombre,500,500)" class="img-thumbnail" alt="Foto" width="50px"
                height="50px">
            </nb-card-body>
          </div>
        </ng-container>
        <ng-container *ngIf="campo.etiqueta && campo.etiqueta != 'file'">
          <div class="col-4">
            <label>{{campo.etiqueta === 'select' && campo.valor
                      ? campo.valor.Nombre 
                      : (campo.etiqueta === 'mat-date' && campo.valor) 
                      ? campo.valor.substring(0,10)
                      : campo.valor}}</label>
          </div>
        </ng-container>
      </div>
    </fieldset>
  </form>
  <div class="row" style="width: 30%;">
    <ngx-list-comentario 
      [hidden]="!(rol === 'DOCENTE')" 
      [observaciones_selected]="observaciones_comments"
      style="width: 100%;"></ngx-list-comentario>
    <ngx-crud-comentario 
      [hidden]="!(rol !== 'DOCENTE' && (solicitud_docente_selected.EstadoTipoSolicitudId.EstadoId.Id !== 3 
                  && solicitud_docente_selected.EstadoTipoSolicitudId.EstadoId.Id !== 5
                  && solicitud_docente_selected.EstadoTipoSolicitudId.EstadoId.Id !== 9))"
      (reloadTable)="reloadTable($event)"
      [estadoNum] = "2"
      [obsNum] = "1"
      [solicitud_selected]="solicitud_docente_selected"></ngx-crud-comentario>
    <ngx-send-invitacion 
      [hidden]="!(rol !== 'DOCENTE' && (solicitud_docente_selected.EstadoTipoSolicitudId.EstadoId.Id === 3 || solicitud_docente_selected.EstadoTipoSolicitudId.EstadoId.Id === 5))"
      (reloadTable)="reloadTable($event)"
      [solicitud_selected]="solicitud_docente_selected"></ngx-send-invitacion>
  </div>
</div>
<div class="row">
  <ng-container *ngIf="solicitud_docente_selected.EstadoTipoSolicitudId.EstadoId.Id < 3">
    <ng-container *ngFor="let alert of observaciones_coincidences">
      <button class="btn btn-labeled btn-info" [hidden]="!(rol !== 'DOCENTE')" (click)="onViewCoincidence(alert)">
        <span class="btn-label"><img src="assets/images/copia.png"></span>
        {{'produccion_academica.coincidencia' | translate}}
      </button>
    </ng-container>
  </ng-container>
  <ng-container *ngFor="let alert of observaciones_alerts">
    <button class="btn btn-labeled btn-warning" [hidden]="!(rol !== 'DOCENTE')" (click)="onView(alert)">
      <span class="btn-label"><img src="assets/images/alert2.png"></span>
      {{'produccion_academica.alerta' | translate}}
    </button>
  </ng-container>
</div>
<div class="row">
  <button class="btn-review" [hidden]="!buttonAdmin" (click)="verifyRequest()">{{'produccion_academica.verificar' | translate}}</button>
  <button class="btn-review" [hidden]="!buttonModify" (click)="sendRequest()">
    {{'produccion_academica.modificar' | translate}}
  </button>
  <button class="btn-review" [hidden]="!buttonAdmin" (click)="rejectRequest()">{{'produccion_academica.rechazar' | translate}}</button>
</div>
<div class="row">
  <ngx-list-comentario 
    [hidden]="!(rol !== 'DOCENTE')" 
    [observaciones_selected]="solicitud_docente_selected.Observaciones"
    style="width: 100%;"></ngx-list-comentario>
</div>

<div class="row">
  <ngx-resume-list-evaluaciones
    *ngIf="esEvaluada" 
    [solicitud_padre]="solicitud_docente_selected"
    (reloadTable)="reloadTable($event)"
    style="width: 100%;">
  </ngx-resume-list-evaluaciones>
</div>

<div class="pop-comment" [hidden]="!esRechazada">
  <div class="pop-content">
    <button (click)="closePop()"><i class="nb-close" title="view"></i></button>
    <h2>{{'produccion_academica.titulo_rechazo' | translate}}</h2>
    <p>{{'produccion_academica.subtitulo_rechazo' | translate}}</p>
    <ngx-crud-comentario
        [hidden]="!(rol !== 'DOCENTE' && solicitud_docente_selected.EstadoTipoSolicitudId.EstadoId.Id !== 3)"
        (reloadTable)="reloadTable($event)"
        [estadoNum] = "4"
        [obsNum] = "3"
        [solicitud_selected]="solicitud_docente_selected"></ngx-crud-comentario>
  </div>
</div>

<div class="pop-comment" *ngIf="existeCoincidencia">
  <div class="pop-content-resume">
    <button class="clc-btn" (click)="closePop()"><i class="nb-close" title="view"></i></button>
    <h2>{{'produccion_academica.titulo_coincidencia' | translate}}</h2>
    <p>{{'produccion_academica.subtitulo_coincidencia' | translate}}</p>
    <ngx-list-coincidencias
      style="width: 80%;"
      (reloadTable)="reloadTable($event)"
      [solicitud_docente_selected]="solicitud_docente_selected"
      [id_coincidencias_list]="id_coincidences"
    >
    </ngx-list-coincidencias>
  </div>
</div>