<div class="col-md-12 col-lg-12 ">
  <nb-card>
    <nb-card-body>
      <toaster-container [toasterconfig]="config"></toaster-container>
      <nb-tabset fullWidth (changeTab)="selectTab($event)">
        <nb-tab tabTitle="{{ 'GLOBAL.lista' | translate }}" [active]="cambiotab == 0">
          <h2>{{ 'GLOBAL.lista_comites' | translate }}</h2>
          <ng2-smart-table 
            [settings]="settings" 
            [source]="source" 
            (custom)="onView($event)" 
          ></ng2-smart-table>
        </nb-tab>
        <nb-tab tabTitle="{{ 'GLOBAL.formulario' | translate }}" [active]="cambiotab == 1">
          <ngx-list-solicitudes-paquete *ngIf="paquete_selected" [paquete_solicitud_selected]="paquete_selected" (eventChange)="onChange($event)">
          </ngx-list-solicitudes-paquete>
          <button (click)="activetab(0)" class="btn btn-ttc"> <i class="nb-arrow-dropleft"></i> {{ 'GLOBAL.regresar_paquetes' | translate }}</button>
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>
</div>





