/deep/ .nb-theme-ud nb-card.small-card {
  height: 400px;
}

nb-card {

  nb-card-header {
    background: #5A95B8;
    color: #fff;
    text-align: center;
  }
  nb-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .details li {
      color: #4486AA;
      margin: 2px;
    }
    .card-action {
      display: flex;
      justify-content: flex-end;

      button {
        padding: 5px 10px;
        border: none;
        border-radius: 25px;
        outline: none;
        background: #343a40;
        color: #fff;
      }
    }
  }
}
