:host /deep/ .nb-theme-default ng2-smart-table table tr td {
  font-size: 0.85rem;
}

mat-select {
  border-bottom: 3px solid #ced4da;
}

mat-select:focus {
  border-bottom: 3px solid #4486AA;
}

nb-tabset /deep/ ul li {
  display: none;
}

:host /deep/ ng2-smart-table tbody > tr {
  height: 40px;
}

:host /deep/ ng2-smart-table tbody > tr > td.ng2-smart-actions {
  height: 40px;
  display: flex;
  align-items: center;
}

:host /deep/ ng2-st-tbody-edit-delete {
  display: flex !important;
  height: 0 !important;
}

:host /deep/ ng2-st-tbody-custom {
  display: flex;
}

:host /deep/ ng2-st-tbody-custom i {
  font-size: 22px;
}

:host /deep/ ng2-st-tbody-custom a:last-child i {
  font-size: 28px;
}

:host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
  display: inline-block;
  width: 50px;
  text-align: center;
  font-size: 1.1em;
}

:host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
  color: #4486AA;
}

.btn-ttc {
  color: #ffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #03678F;
}