:host /deep/ .nb-theme-default ng2-smart-table table tr td {
  font-size: 0.85rem;
}

.pop-comment {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #fff;
  width: 80%;
  height: 80%;
  border-radius: 20px;
  overflow: hidden;
  overflow-y: auto;
  transition: all 0.3s ease-in;
}

.pop-content-resume {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #fff;
  width: 45%;
  height: 65%;
  border-radius: 20px;
  overflow: hidden;
  overflow-y: auto;
  transition: all 0.3s ease-in;
}

.pop-content button, .pop-content-resume .clc-btn{
  align-self: flex-end;
  background-color: transparent;
  border: none;
  outline: none;
}

.pop-content button i, .pop-content-resume button i{
  font-size: 30px;
}

.btn-review {
  margin: 10px;
  padding: 10px 20px;
  background-color: #343a40;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.resume_body, .resume_body-btn {
  width: 60%;
  margin: 25px auto;
}

.resume_body-btn {
  text-align: center;
}

.resume_body .row {
  margin: 20px auto;
  font-size: 1.1rem;
}

.resume_body .row h6 {
  font-size: 1.4rem;
}

.btn-resume {
  width: 80%;
  padding: 20px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #4FB9FF;
  border: none;
  border-radius: 12px;
  outline: none;
}