<div class="col-md-12 col-lg-12 ">
  <nb-card>
    <nb-card-body>
      <nb-tabset fullWidth (changeTab)="selectTab($event)">
        <nb-tab tabTitle="{{ 'GLOBAL.lista' | translate }}" [active]="cambiotab == 0">
          <h2>{{ 'GLOBAL.lista_invitaciones' | translate }}</h2>
          <ng2-smart-table 
            [settings]="settings" 
            [source]="source" 
            (custom)="onCheck($event)" 
          ></ng2-smart-table>
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>
</div>